<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" th:href="@{static/css/bootstrap/bootstrap.min.css}"/>
    <title sec:authentication="name"></title>
    <style type="text/css">
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="starter-template">
        Index Page
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="注销"/>
        </form>
        <a href="/admin">去往管理员页面</a>
        <a href="/user/cmanage">去车辆注册页面</a>
        <a href="/user/dmanage">去驾驶员注册页面</a>
        <a href="/user/cm">去往车辆信息界面</a>
        <a href="/user/dm">去往驾驶员信息界面</a>
    </div>
</div>
</body>
</html>
